#banner {
    background-image: url("../static/img/book-banner.png");
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#banner-title{
    padding:23px;
    font-size: xx-large;
}

label > input { 
  position: absolute; /* Remove input from document flow */
}

label > input + img { /* IMAGE STYLES */
  cursor: pointer;
  border: 7px solid transparent;
}

label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  border: 7px solid green;
  border-radius: 10px;
}
