/* Overall styling */
#banner {
    height: 100px;
}
#banner-title{
    font-family:'Fredericka the Great', cursive;
    padding:13px;
    font-size: 50px;
}

.navbar{
  background-color: rgba(216, 200, 166, 0.5);
}

h1, h2, h3 {
    font-family:'Fredericka the Great', cursive;
}

body{
  background-image: url("../static/img/old_map.png");
  font-family: 'Itim', cursive;
    min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

.footer-icons {
    color: #BA8F7E;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-icons a {
    color: #BA8F7E;
}
/* End overall styling */

#example{
  border: 3px solid #46351d;
  height: 300px;
  border-radius: 20px;
}

/* Customization of bootstrap buttons */
.btn {
  color: #fff;
  background-color: #ddc988;
  border-color: #ddc988;
}

.btn:hover {
  color: #fff;
  background-color: #e9dbaf;
  border-color: #e9dbaf;
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 3px rgba(221, 201, 316, 0.5);
}

.btn.disabled, .btn:disabled {
  background-color: #ddc988;
  border-color: #ddc988;
}

.btn:active, .btn.active,
.show > .btn.dropdown-toggle {
  background-color: #e9dbaf;
  background-image: none;
  border-color: #e9dbaf;
}
/* End bootstrap button customization */

/* Bootstrap table customization */
.table-bordered > thead > tr > th {
    border-color: black;
}

.table-bordered > tbody > tr > td{
    border-color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(189, 173, 117, 0.5);
}
/* End bootstrap table customization */

.form-control:focus {
    border-color: #e9dbaf;
    box-shadow: 0 0 0 5px rgba(221, 201, 316, 0.5);
}
/* Specifically for book-results html page */

label > input { 
  position: absolute; /* Remove input from document flow */
}

label > input + img { /* IMAGE STYLES */
  cursor: pointer;
  border: 7px solid transparent;
  border-radius: 10px;
}

label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  border: 7px solid #46351D;
  border-radius: 10px;
}
/* End book-results html-specific css */


/* CSS for loading spinner */
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(219, 206, 175,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:70px;height:70px;
    border-style:solid;
    border-color: #46351D;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
/* End css for loading spinner */