{% extends 'base.html' %}
{% block title %} Advanced Search {% endblock %}
{% block content %}
<h1 class='text-center'> Advanced Search </h1>
<br>
<div class="row">
<div class="col-sm-6 text-center">
<button class="btn" id="author-btn"> Find Series by Author</button>
</div>
<div class="col-sm-6 text-center">
<button class="btn" id="title-btn"> Find Series by Title </button>
</div>
</div>
<br> <br>
<div class="row justify-content-center" id="author-search" style="display:none">
<form action="/by-author" method="POST" id="author-search-frm">
    <div class="form-group">
    <label for="author"> Author's Full Name </label>
    <input type="text" name="author" aria-describedby="author-rule" class="form-control" id="author" required>
    <!-- Might add regex here to validate submision -->
    </div>
    <button type="submit" class="btn" id="author-search-btn">Search</button>
</form>
</div>
<div class="row justify-content-center" id="title-search" style="display:none">
<form action="/by-book" method="POST" id="title-search-frm">
    <div class="form-group">
         <label for="title">Title </label>
     <input type="text" name="title" class="form-control" id="title"required>
   
    </div>
    <button type="submit" class="btn" id="title-search-btn"> Search</button>
</form>
</div>
{% endblock %}
{% block footer %}
<p class="text-center"> Search powered by Goodreads</p>
{% endblock %}
{% block script %}
<script src="/static/js/advSearch.js"></script> 
{% endblock %}