{% extends 'base.html' %}
{% block title %} {{ author.author_name }} {% endblock %}
{% block content %}
<h1> {{ author.author_name }} </h1>
<h2> Favorited by {{ author.favorited_by|length }} people </h2>
{% if info %}
<p> ~Info from Goodreads ~ </p>
<p> Description: {{ info.description }} </p>
<p> Gender: {{ info.gender }} </p>
{% if info.bday %}
<p> Born: {{ info.bday }} </p>
{% endif %}
{% if info.dday %}
<p> Died: {{ info.dday }} </p>
{% endif %}

{% else %}
<p> No information available at this time. </p>
{% endif %}

{% if "user_id" in session %}
<h2> Favorite this author! </h2>
<form id="fav-author">
    <input type="submit" value="Favorite">
</form>
{% endif %}
<br> <br>
<div id="results"> </div>

{% if "user_id" in session %}
<script>
// Apparently jinja in javascript is bad
// Consider changing this into React, I guess?
// But then I can't use jQuery
// ... can it still be loaded in for the page?
$("#fav-author").on("submit", function(evt){
    evt.preventDefault();
    let formInputs = {"user_id": {{ session["user_id"] }},
                   "author_id": {{ author.author_id}} };
    $.post("/update-fav-author.json", formInputs, function(results){
        $("#results").text(results.result);
    });
});
</script>
{% endif %}
{% endblock %}