{% extends 'base.html' %}
{% block title %} {{ author.author_name }} {% endblock %}
{% block content %}
<h1 class="text-center"> {{ author.author_name }} </h1>
<h2 class="text-center">
{% if author.favorited_by|length == 0 %}
-Be the first to favorite this author-
{% elif author.favorited_by|length == 1 %}
-Favorited by 1 person-
{% else %}
-Favorited by {{ author.favorited_by|length }} people-
{% endif %} 
</h2>
{% if info %}
{% if url %}
<img class="mx-auto d-block" src="{{ url }}" width="200">
{% endif %}
<p>{{ info }}</p>

{% else %}
<p> No information available at this time. </p>
{% endif %}

{% if "user_id" in session %}
<a href="/goodreads-follow-author/{{author.author_id}}"><button class="btn"> Follow on Goodreads! </button></a>
<br><br>


<h2> Favorite this author! </h2>
<!-- Can turn this into a button -->
<form id="fav-author">
    <input type="submit" value="Favorite">
</form>
{% endif %}
<br> <br>
<div id="results"> </div>

<h3> Series by {{ author.author_name }} </h3>
{% if author.goodreads_id %}
{% if series %}
<p> ~ Info by Goodreads ~ </p>
<ul>
{% for name in series.values() %}
<li> {{ name }} </li>
{% endfor %} </ul>
{% else %}
<p> No series are currently associated with this author. </p>
{% endif %}
{% else %}
<p> Author is not in Goodreads, and therefore we cannot display series info. Apologies. </p>
{% endif %}

{% endblock %}
{% block script %}
{% if "user_id" in session %}
<script>
// Apparently jinja in javascript is bad
// Consider changing this 
$("#fav-author").on("submit", function(evt){
    evt.preventDefault();
    let formInputs = {"author_id": {{ author.author_id }} };
    $.post("/update-fav-author.json", formInputs, function(results){
        alert(results.result);
    });
});
</script>
{% endif %}
{% endblock %}