{% extends 'base.html' %}
{% block title %} {{ author.author_name }} {% endblock %}
{% block content %}
<h1 class="text-center"> {{ author.author_name }} </h1>
<h2 class="text-center">
{% if author.favorited_by|length == 0 %}
-Be the first to favorite this author-
{% elif author.favorited_by|length == 1 %}
-Favorited by 1 person-
{% else %}
-Favorited by {{ author.favorited_by|length }} people-
{% endif %} 
</h2>
{% if info %}
{% if url %}
<img class="mx-auto d-block" src="{{ url }}" width="200">
{% endif %}
<p>{{ info }}</p>

{% else %}
<p> No information available at this time. </p>
{% endif %}

{% if "user_id" in session %}
<a href="/goodreads-follow-author/{{author.author_id}}" id="gr-fav-lnk"><button class="btn" id="gr-fav-btn"> Follow on Goodreads! </button></a>
<br><br>


<h2> Favorite this author! </h2>
<form id="fav-author">
    <input type="hidden" value="{{author.author_id}}" id="author-id">
    <button type="submit" class="btn"> Favorite Me! </button>
</form>
{% endif %}
<br> <br>

<h3> Series by {{ author.author_name }} </h3>
{% if author.goodreads_id %}
{% if series %}
<ul>
{% for name in series.values() %}
<li> {{ name }} </li>
{% endfor %} </ul>
{% else %}
<p> No series are currently associated with this author. </p>
{% endif %}
{% else %}
<p> Author is not in Goodreads, and therefore we cannot display series info. Apologies. </p>
{% endif %}
{% endblock %}
{% block footer %}
<p class="text-center"> Information provided by Goodreads and Wikipedia </p>
{% endblock %}
{% block script %}
{% if "user_id" in session %}
<script src="/static/js/authorInfo.js"></script>
{% endif %}
{% endblock %}