<!doctype html>
<html>
<head>
    <!-- Any links I need for formatting should go here -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title> {% block title %} {% endblock %} </title>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <p> {{ message }} </p>
    {% endfor %}

    {% if "user_id" in session %}
    <p> <a href="/logout"> Logout </a> </p>
    {% endif %}

    {% block content %} {% endblock %}
</body>
</html>