{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
<h1 class="text-center"> Welcome to Bibliofind! </h1>

<p> Love too many series or authors, and want to know when the next book is coming out? Bibliofind is the site for you! </p>
<p>Let's say you want to know if the next book in A Song of Ice and Fire is coming out in the next two years. </p>
   <p> Simply search:</p>
    <img>
    <p>And get the results:</p>
    <img>
    <p>Looks like George is still taking a while to write his books. Write, George, write like the wind!</p>

{% endblock %}