{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
<h1 class="text-center"> Welcome! </h1>
<div class="row justify-content-center">
    <p> Bibliofind allows people to figure out when the next book from their favorite author, or from their favorite series, is coming out. </p>
    </div>
<div class="row justify-content-center">
<img src="/static/img/example.gif" id="example">
</div>
<br>
<div class="row text-center justify-content-center">
<h3> Create an Account To: </h3>
</div>
<div class="row justify-content-center">
<ul> 
    <li> Favorite your favorite authors and series, to easily search them in the future </li>
    <li> Link your Goodreads account to their Bibliofind account </li>
    <li> Email search results and search history, to yourself </li>
</ul>
</div>
<div class="row justify-content-center">
    <p> Interested? <a href="/sign-up">Sign up now!</a></p>
</div>
{% endblock %}