{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<!-- Possibly toss some of the cool visual validation stuff bootstrap has -->
<h1 class='text-center'> Login </h1>
<div class="row justify-content-center">
<form action="/login" method="POST">
<div class="form-group">
<label for="email"> Email </label>
<input type="email" class="form-control" name="email" id="email" required> 
</div>
<label for="password"> Password </label>
<input class="form-control" type="password" name="password" id="password" required><br>
<button type="submit" class="btn"> Log In! </button>
</form>
</div>
<br>
<p class="text-center"> Don't have an account yet? Then <a href="/sign-up">sign up!</a></p>
{% endblock %}