{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
<h1 class='text-center'> Search </h1>
<div class="row">
<div class="col-sm-6 text-center">
<button class="btn" id="search-author"> Search by Author Name </button>
</div>
<div class="col-sm-6 text-center">
<button class="btn" id="search-series"> Search by Series Name </button>
</div>
</div>
<input type="hidden" id="search-history" value="">
<div class="row justify-content-center">
<form id="search" style="display:none">
    <div class="form-group" id="author-field" style="display:none">
        <br>
    <label for="author">Author</label>
    <input class="form-control" type="text" id="author"><br>
</div>
<div class="form-group" id="series-field" style="display:none">
    <br>
    <label for="series">Series</label><br>
    <select class="selectpicker" data-live-search="true"id="series" title="Pick a series!" data-size="5" data-width="fit"> 
   {% for s in series %}
    <option value="{{s.series_id}}"> {{ s.series_name }} </option>
    {% endfor %}
</select>
<!-- Might make the text below into small -->
<p> Series not here? Try our <a href="/adv-search">advanced search function</a>. </p></div><br>
    Publishing Date Timeframe: 
{% for tf, name in tfs.items()|sort %}
{% if tf == 0 %}
    <div class="form-check">
    <input class="form-check-input" type="radio" name="timeframe" checked id="{{ tf }}" value="{{ tf }}">
    <label class="form-check-label" for="{{ tf }}"> {{ name }} </label>
</div>
{% else %}
<div class="form-check">
    <input class="form-check-input" type="radio" name="timeframe" id="{{ tf }}" value="{{ tf }}">
    <label class="form-check-label" for="{{ tf }}"> {{ name }} </label>
</div>
{% endif %}
{% endfor %}
    <button type="submit" class="btn">Search</button>
    <p id="results"></p>
</form>
</div>

    
<div class="row justify-content-center" id="results-headline" style="display:none">
<h2> Results </h2>
</div>

<div class="row justify-content-center">
<div class="col-lg-6 text-center" id="most-recent">
</div>

<div class="col-lg-6 text-center" id="act-results">
</div>
</div>

{% if "user_id" in session %}
<br> <br>
<div class="row">
    <div class="col-6 text-center">
<button id="results-email" class="btn" style="display:none"> Send Results To Email </button>
</div>
<div class="col-6 text-center">
    <button class="btn" id="results-fav" style="display:none"></button>
</div>
</div>
{% endif %}
<br><br>
{% endblock %}


{% block script %}
<script src="/static/js/search.js"></script>
{% endblock %}