{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
<h1> Search </h1>
<!-- Thing which would be cool to do: have people tell me if they're searching by author or series 
    and modify the form to show the proper fields depending on user input -->
<!-- Use the buttons or something, things which only allow one option -->

<form id="search" action="/search" method="POST">
    <input hidden type="text" name="date" id="date">
    Author: <input type="text" name="author" id="author"><br>
    Series: <select name="series" id="series"> 
    <option selected value> -- select an option -- </option>{% for s in series %}
    <option value="{{s.series_name}}"> {{ s.series_name }} </option>
    {% endfor %}
</select><br>
    Publishing Date Timeframe: <br>
    <input type="radio" name="timeframe" checked value="0"> Default <br>
    <input type="radio" name="timeframe" value="183"> Next Six Months <br>
    <input type="radio" name="timeframe" value="365"> Next Year <br>
    <input type="Submit" value="Search">
</form>
<p id="results"> </p>

<script>

$("#search").on("submit", function(evt){
    evt.preventDefault();
    let author = $("#author").val();
    let series = $("#series").val();

    if (author && series) {
        $("#results").text("Please enter only an author or a series, not both.");
    } else if (!author && !series) {
        $("#results").text("Please enter a value to submit!");
    } else{
        $("#results").text("Searching for info...");
        let date = new Date();
        date = date.toDateString();
        let td = $("input[name=timeframe]:checked").val();
        let formInputs = {"date": date, "author": author, "series": series, "timeframe" : td};
        $.post("/search.json", formInputs, function(result){
            let mrPhrase = `Most recently released: ${result.most_recent[0]}, publication date: ${result.most_recent[1]}`;
            let rPhrase;
            if (result.results[0] === null) {
            rPhrase = "No books found in timeframe.";
            } else {
            rPhrase = `Results: ${result.results[0]}, publication date: ${result.results[1]}.`;
            }

            let htmlStr = `${rPhrase} <br> ${mrPhrase}`;
            $("#results").html(htmlStr);
        });
    }

});

</script>
{% endblock %}