{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
<h1 class='text-center'> Search </h1>
<div class="row">
<div class="col-sm-6 text-center">
<button class="btn" id="search-author"> Search by Author Name </button>
</div>
<div class="col-sm-6 text-center">
<button class="btn" id="search-series"> Search by Series Name </button>
</div>
</div>
<input type="hidden" id="search-history" value="">
<div class="row justify-content-center">
<form id="search" style="display:none">
    <div class="form-group" id="author-field" style="display:none">
    <label for="author">Author</label>
    <input class="form-control" type="text" id="author"><br>
</div>
<div class="form-group" id="series-field" style="display:none">
    <label for="series">Series</label>
    <select class="form-control" id="series"> 
    <option selected value> -- select an option -- </option>{% for s in series %}
    <option value="{{s.series_name}}"> {{ s.series_name }} </option>
    {% endfor %}
</select>
<p> Series not here? Try our <a href="/adv-search">advanced search function</a>. </p></div><br>
    Publishing Date Timeframe: 
{% for tf, name in tfs.items()|sort %}
{% if tf == 0 %}
    <div class="form-check">
    <input class="form-check-input" type="radio" name="timeframe" checked id="{{ tf }}" value="{{ tf }}">
    <label class="form-check-label" for="{{ tf }}"> {{ name }} </label>
</div>
{% else %}
<div class="form-check">
    <input class="form-check-input" type="radio" name="timeframe" id="{{ tf }}" value="{{ tf }}">
    <label class="form-check-label" for="{{ tf }}"> {{ name }} </label>
</div>
{% endif %}
{% endfor %}
    <button type="submit" class="btn">Search</button>
    <p id="results"></p>
</form>
</div>

    
<div class="row justify-content-center" id="results-headline" style="display:none">
<h2> Results </h2>
</div>

<div class="row justify-content-center">
<div class="col-lg-6 text-center" id="most-recent">
</div>

<div class="col-lg-6 text-center" id="act-results">
</div>

{% if "user_id" in session %}
<br> <br>
<button id="results-email" class="btn" style="display:none"> Send Results To Email </button>
{% endif %}
</div>
{% endblock %}


{% block script %}
<script>
$("#search-author").on("click", function(){
    $("#search-history").val("author");
    $("#search").show();
    $("#author-field").show();
    $("#series-field").hide();
    $("#series").val('');
    $("#results").text("");
});

$("#search-series").on("click", function(){
    $("#search-history").val("series");
    $("#search").show();
    $("#author-field").hide();
    $("#series-field").show();
    $("#author").val("");
    $("#results").text("");
});


$("#results-email").on("click", function(){
    let title;
    if ($("#search-history").val() === 'author') {
        title = $("#author").val(); 
    } else if ($("#search-history").val() === 'series') {
        title = $("#series").val();
    }
    title = "Bibliofind Search Results for " + title;
    let formInputs = {"result": $("#act-results").html(), "title": title};
    $.post("/email-info.json", formInputs, function(results){
        alert(results["status"]);
    });

});

$("#search").on("submit", function(evt){
    evt.preventDefault();
    let author = $("#author").val();
    let series = $("#series").val();

    if (author && series) {
        $("#results").text("Please enter only an author or a series, not both.");
    } else if (!author && !series) {
        $("#results").text("Please enter a value to submit!");
    } else{
        $("#results").text("Searching...")
        $("#results-headline").show();
        let date = new Date();
        date = date.toDateString();
        let td = $("input[name=timeframe]:checked").val();
        let formInputs = {"date": date, "author": author, "series": series, "timeframe" : td};
        $.post("/search.json", formInputs, function(result){
            let mrPhrase = `Most recently released: ${result.most_recent[0]}, publication date: ${result.most_recent[1]}`;
            let rPhrase;
            if (result.results[0] === null) {
            rPhrase = "No books found in timeframe.";
            } else {
            rPhrase = `Results: ${result.results[0]}, publication date: ${result.results[1]}.`;
            }

            $("#most-recent").html("<h4>Most Recent</h4><img height='200' src='" + result.most_recent[2] + "'> <p>" + mrPhrase + "</p>" )
            $("#act-results").html("<h4> Result in Timeframe </h4><img height='200' src='" + result.results[2] + "'> <p>" + rPhrase + "</p>" )

            $("#results-email").show();
            $("#results").text("");

        });
    }

});

</script>
{% endblock %}