{% extends 'base.html' %}
{% block title %} {{ series.series_name }} {% endblock %}
{% block content %}
<h1 class="text-center"> {{ series.series_name }} </h1>
<h2 class="text-center">
{% if series.favorited_by|length == 0 %}
-Be the first to favorite this series-
{% elif series.favorited_by|length == 1 %}
-Favorited by 1 person-
{% else %}
-Favorited by {{ series.favorited_by|length }} people-
{% endif %} 
</h2>

{% if info %}
<p> ~Info provided by Goodreads ~ </p>
{% if info.description %}
<p> Description: {{ info.description }} </p>
{% else %}
<p> No description provided. </p>
{% endif %}
<p> Number of works: {{ info.length }} </p>

<h3 class="text-center">Works in series</h3> <br>
{% for n in range( (info.works|length //4) + 1) %}
<div class="row">
    {% for work in info.works[(n*4):(4+4*n)] %}
    <div class="col-3 text-center">
        <img src="{{work[3]}}">
        <p> {{ work[0] }} by {{ work[1] }}, published {{ work[2] }} </p>
    </div>
    {% endfor %}
</div>
<br>
{% endfor %}

{% else %}
<p> Could not get info from Goodreads. Please try again. </p>
{% endif %}

{% if "user_id" in session %}
<h2> Favorite this series! </h2>
<form id="fav-series">
    <input type="hidden" value="{{series.series_id}}" id="series-id">
    <button type="submit" class="btn">Favorite Me!</button>
</form>
{% endif %}
<br> <br> 

{% endblock %}
{% block script %}
{% if "user_id" in session %}
<script src="/static/js/seriesInfo.js"></script>
{% endif %}

{% endblock %}