{% extends 'base.html' %}
{% block title %} {{ series.series_name }} {% endblock %}
{% block content %}
<h1> {{ series.series_name }} </h1>
<h2> Favorited by {{ series.favorited_by|length }} people </h2>

{% if info %}
<p> ~Info provided by Goodreads ~ </p>
{% if info.description %}
<p> Description: {{ info.description }} </p>
{% else %}
<p> No description provided. </p>
{% endif %}
<p> Number of works: {{ info.length }} </p>
<!-- Add a check to see if there are any works to show off -->
<p> Works in series: </p>
<ul> {% for work in info.works %}
    <li> {{ work[0] }} by {{ work[1] }}, published {{ work[2] }} </li>
{% endfor %}
</ul>


{% else %}
<p> Could not get info from Goodreads. Please try again. </p>
{% endif %}

{% if "user_id" in session %}
<h2> Favorite this series! </h2>
<form id="fav-series">
    <input type="submit" value="Favorite">
</form>
{% endif %}
<br> <br> 

<div id="results"> </div>
{% endblock %}
{% block script %}
{% if "user_id" in session %}
<script>
// Apparently jinja in javascript is bad
// Consider changing this into React, I guess?
// But then I can't use jQuery
// ... can it still be loaded in for the page?
$("#fav-series").on("submit", function(evt){
    evt.preventDefault();
    let formInputs = {"user_id": {{ session["user_id"] }},
                   "series_id": {{ series.series_id}} };

    $.post("/update-fav-series.json", formInputs, function(results){
        $("#results").text(results.result);
    });
});
</script>
{% endif %}

{% endblock %}