{% extends "base.html" %}
{% block title %} {{ user.fname }}'s Info {% endblock %}
{% block content %}
<h1> {{ user.fname }} {{ user.lname }} </h1>

<p> Favorite book: {{ user.fav_book }} </p>

{% if user.is_description_public or session.get("user_id") == user.user_id %}
<p> Description: {{ user.description }} </p>
{% endif %}

{% if user.is_fav_author_public or session.get("user_id") == user.user_id %}
{% if user.fav_authors|length > 0 %}
<p> Favorite authors: <ul>{% for fav_author in user.fav_authors %} 
    <li> <a href="/author/{{fav_author.author.author_id}}">{{ fav_author.author.author_name }}</a> </li>
{% endfor %}
</ul></p>
{% else %}
<p> You currently have no favorite authors. Why not add to the list? </p>
{% endif %}
{% endif %}

{% if user.is_fav_series_public or session.get("user_id") == user.user_id %}
{% if user.fav_series|length > 0 %}
<p> Favorite series: <ul>{% for fs in user.fav_series %} 
    <li><a href="/series/{{fs.series.series_id}}"> {{ fs.series.series_name }}</a> </li>
{% endfor %}
</ul></p>
{% else %}
<p>You currently have no favorite series. Why not add to the list?</p>
{% endif %}
{% endif %}

{% if session.get("user_id") == user.user_id %}
{% if not user.is_goodreads_authorized %}
<a href="/goodreads-oauth"><img src="/static/img/goodreads-login-button.png"></a>
<br> <br>
{% endif %}
{% if session.get("search_history") %}
<div id="search-history">
<h3> Search History </h3>
<button class="btn" id="search-history-display">Hide Search History</button>
<br> <br>
<table class="table table-striped table-bordered" id="search-history-table">
    <thead>
    <tr>
        <th scope="col"> Date Searched </th>
        <th scope="col"> Timeframe </th>
        <th scope="col"> Search Term </th>
        <th scope="col"> Most Recently Released </th>
        <th scope="col"> Search Result </th>
    </tr>
</thead>
<tbody>
    {% for item in session.get("search_history") %}
    <tr>
        <td> {{ item[0] }} </td>
        <td> {{ item [1] }} </td>
        <td> {{ item[2] }} </td>
        <td> {{ item[3][0] }}, publication date: {{ item[3][1] }} </td>
        {% if item[4][1]%}
         <td> {{ item[4][0] }}, publication date: {{ item[4][1] }} </td>

        {% else %}
         <td> No results found </td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>
<div class="text-center">
<button class="btn" id="send-search-history"> Send Search History To Email </button>
</div>
<br> <br>
{% endif %}
<div class="row">
    <div class="col-4 text-center">
        <button class="btn btn-sm" id="update-profile-btn"> Update Profile </button>
    </div>
    <div class="col-4 text-center">
        <button class="btn btn-sm" id="update-fa-btn"> Update Favorite Authors </button>
    </div>
    <div class="col-4 text-center">
        <button class="btn btn-sm" id="update-fs-btn"> Update Favorite Series </button>
    </div>
</div>
<br>
 <div class="row justify-content-center">  

<div id="update-profile-form" style="display:none">
<h3> Update Profile </h3>
<form action="/update-profile" method="POST">
<div class="form-group">
    <label for="description">Update description</label>
    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
</div>
<div class="form-group">
<label for="fav-book">Update favorite book</label>
<input class="form-control" type="text" name="fav-book" id="fav-book">
</div>
Display description publicly?
<div class="form-group">
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" id="dpubl-y" name="descr-publ" value="1"> 
<label for="dpubl-y">Yes</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="descr-publ" value="0" id="dpubl-n"> 
<label for="dpubl-n">No</label>
</div>
</div>
Display favorite series publicly?
<div class="form-group">
<div class="form-check form-check-inline">
<input type="radio" class="form-check-input" name="fs-publ" value="1" id="fs-publ-y">
<label for="fs-publ-y"> Yes</label>
</div>
<div class="form-check form-check-inline">
 <input type="radio" class="form-check-input" name="fs-publ" value="0" id="fs-publ-n">
 <label for="fs-publ-n"> No </label>
</div>
</div>
Display favorite authors publicly?
<div class='form-group'>
<div class="form-check form-check-inline">
 <input type="radio" name="fa-publ" value="1" class="form-check-input" id="fa-publ-y">
 <label for="fa-publ-y">Yes</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" id="fa-publ-n" type="radio" name="fa-publ" value="0"> 
<label for="fa-publ-n">No</label>
</div>
</div>
<button type="submit" class="btn">Update Profile</button>
</form>
</div>
</div>

<div class="row justify-content-center">
<div id="update-fa-form" style="display:none">
<h3> Update Favorite Authors </h3>
<form action="/update-authors" method="POST">
Check any authors you would like to remove: <br>
<select name="author-remove" class="selectpicker" multiple data-selected-text-format="count" data-actions-box="true" data-size="5" title="Select an author to remove"
data-width="fit">
{% for fav_author in user.fav_authors %}
<option value="{{ fav_author.author_id}}"> {{ fav_author.author.author_name }} </option> {% endfor %}</select><br><br>
<div class="form-group">
<label for="new-author">List the authors you would like to add. Each name should be on its own line. </label>
<textarea class="form-control" id="new-author" rows="3" name="new-author"></textarea>
</div>
<button type="submit" class="btn"> Update Authors </button>
</form>
</div>
</div>

<div class="row justify-content-center">
<div id="update-fs-form" style="display:none">
<h3> Update Favorite Series </h3>
<form action="/update-series" method="POST">
Check any series you would like to remove<br>
<select name="series-remove" class="selectpicker" multiple data-selected-text-format="count" data-actions-box="true" data-size="5" title="Select a series to remove" data-width="fit">
{% for fs in user.fav_series %}
<option value="{{ fs.series_id}}">{{ fs.series.series_name }}</option>{% endfor %}
</select><br><br>
Please select which series you would like to add<br>
<select name="series-add" class="selectpicker" multiple data-selected-text-format="count" data-actions-box="true" data-size="5" title="Select a series to add" data-live-search="true" data-width="fit">
{% for s in series %}
<option value="{{ s.series_id }}"> {{ s.series_name }} </option>
{% endfor %}
</select> <br><br>
<button type="submit" class="btn"> Update Series </button>
</form>
</div>
</div>
<br><br>
{% endif %}
{% endblock %}
{% block script %}
<script>
$("#update-profile-btn").on("click", function(){
    $("#update-profile-form").show();
    $("#update-fs-form").hide();
    $("#update-fa-form").hide();
    $("html, body").animate({ scrollTop: $(document).height() }, "slow");

});

$("#update-fs-btn").on("click", function(){
    $("#update-profile-form").hide();
    $("#update-fs-form").show();
    $("#update-fa-form").hide();
    $("html, body").animate({ scrollTop: $(document).height() }, "slow");

});

$("#update-fa-btn").on("click", function(){
    $("#update-profile-form").hide();
    $("#update-fs-form").hide();
    $("#update-fa-form").show();
    $("html, body").animate({ scrollTop: $(document).height() }, "slow");

});


$("#search-history-display").on("click", function(){
    $("#search-history-table").toggle();
    $("#send-search-history").toggle();
    if ($("#search-history-display").text() === 'Hide Search History'){
        $("#search-history-display").text('Show Search History');
    } else {
        $("#search-history-display").text('Hide Search History');
    }
});

$("#send-search-history").on("click", function(){
    let title = 'Your Search History';
    let searchHistory = $("#search-history").html();
    let formInputs = {"title": title, "result": searchHistory};
    $.post("/email-info.json", formInputs, function(results){
        alert(results["status"]);
    })
})
</script>
{% endblock %}